@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: myFirstFont;
    src: url('/voigantedisplay.regular.ttf');
}

.Voigante{
    font-family: myFirstFont;
}
html {
    scroll-behavior: smooth;
}

.slick-active > div{
    display:flex;
    justify-content: center;
}

.slick-track{
    display: flex !important;
    gap: 1rem !important; 
}

#placeholder::placeholder{
    text-align: start;
    display: flex;
    align-items: self-start;
}

.ReactInputVerificationCode__container{
    flex-wrap: wrap;
    width: 100% !important;
}

.react-multi-carousel-track{
    gap: 1rem;
}